html{
  overflow-x: hidden;
}
body {
  font-family: 'GothamProRegular','GothamProBold','GothamProMedium','GothamProLight','VremenaBold','VremenaBoldItalic','VremenaBook','VremenaBookItalic','VremenaMedium','VremenaMediumItalic','VremenaRegular','VremenaItalic' sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  overflow-x: hidden;
}
h1 {
  font-family: VremenaMedium;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}
h2 {
  font-family: GothamProRegular;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}
h4 {
  font-family: VremenaBookItalic;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #af42a6;
}
p{
  font-family: GothamProRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.block-dealership-application{
  // background: #eeeeee;
  width: 100%;
  max-width: 900px;
  // height: auto;
  // height: 600px;
  margin: 100px auto;
  padding: 30px 10px;
  // border: #cccccc solid 1px;
  border-radius: 10px;
  box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.27);

}
.block-dealership-application__title{
  height: auto;
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
}
.block-dealership-application__block-application{
  width: 100%;
  max-width: 700px;
  margin: 40px auto 20px;
  // height: 400px;
  // background: #af42a6;
  justify-content: space-between;
}
.block-application__input{
  width: calc(50% - 20px);
  max-width: 700px;
  // height: 200px;
  margin-top: 20px;
  // background: #eeeeee;
  flex-direction: column;
  p{
    font-family: GothamProMedium;
    color: #616161;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  button{
    margin-bottom: 20px;
  }
}

button{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // text-transform: uppercase;
  height: 50px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(135, 137, 139, 0.384);
  span{
      color: $red;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.7px;
  }
  &:hover {
      animation: rotate 0.7s ease-in-out both;
      span{
          animation: storm 0.7s ease-in-out both;
          animation-delay: 0.06s;
      }
  }
}

@keyframes rotate{
    0%
        {transform: rotate(0deg) translate3d(0, 0, 0)}
    25%
        {transform: rotate(3deg) translate3d(0, 0, 0)}
    50%
        {transform: rotate(-3deg) translate3d(0, 0, 0)}
    75%
        {transform: rotate(1deg) translate3d(0, 0, 0)}
    100%
        {transform: rotate(0deg) translate3d(0, 0, 0)}
}
@keyframes storm{
    0%
        {transform: translate3d( 0, 0, 0) translateZ(0)}
    25%
        {transform: translate3d( 4px, 0, 0) translateZ(0)}
    50%
        {transform: translate3d( -3px, 0, 0) translateZ(0)}
    75%
        {transform: translate3d( 2px, 0, 0) translateZ(0)}
    100%
        {transform: translate3d( 0, 0, 0) translateZ(0)}
}





.block-application__value{
  width: calc(50% - 20px);
  max-width: 700px;
  // height: 200px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  // background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.17);

  input{
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // text-transform: uppercase;
    height: 50px;
    width: 210px;
    margin-top: auto;
    margin-bottom: 30px;
    background: $red;
    color: #ffffff;
    font-size: 18px;
    // margin-bottom: 30px;
  }
}
.block-application__value-wraper{
  width: calc(100% - 40px);
  max-width: 700px;
  // height: 200px;
  margin-top: 30px;
  flex-direction: column;
  // background: #ffffff;
  p{
    font-family: GothamProMedium;
    font-size: 16px;
    margin-bottom: 20px;
  }
  span{
  font-family: GothamProRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
  }
}
.block-application__value-disclamer{
  width: calc(100% - 40px);
  // margin-top: auto;
  margin-bottom: 30px;
  p{
    font-size: 14px;
    color: #616161;
  }
}

.block-application__value-cost,
.block-application__value-name,
.block-application__value-products,
.block-application__value-employees,
.block-application__value-pay
{
  color: $red;
  font-family: GothamProRegular;
  margin-bottom: 20px;
  justify-content: space-between;
}

.value-cost__value,
.value-name__value,
.value-products__value,
.value-employees__value,
.value-pay__value
{
  margin-left: 20px;
  word-wrap: break-word;
  text-align: end;
}

input.notactive{
  background: #e0e0e0;
}