html{
  overflow-x: hidden;
}
body {
  font-family: 'GothamProRegular','GothamProBold','GothamProMedium','GothamProLight','VremenaBold','VremenaBoldItalic','VremenaBook','VremenaBookItalic','VremenaMedium','VremenaMediumItalic','VremenaRegular','VremenaItalic' sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  overflow-x: hidden;
}
h1 {
  font-family: VremenaMedium;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}
h2 {
  font-family: GothamProRegular;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}
h4 {
  font-family: VremenaBookItalic;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #af42a6;
}
p{
  font-family: GothamProRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.block-dealership-application{
  // background: #eeeeee;
  width: 100%;
  max-width: 900px;
  // height: auto;
  // height: 600px;
  margin: 100px auto;
  padding: 30px 10px;
  // border: #cccccc solid 1px;
  border-radius: 10px;
  box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.27);

}
.block-dealership-application__title{
  height: auto;
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
}
.block-dealership-application__block-application{
  width: 100%;
  max-width: 700px;
  margin: 40px auto 20px;
  // height: 400px;
  // background: #af42a6;
  justify-content: space-between;
}
.block-application__input{
  width: calc(50% - 20px);
  max-width: 700px;
  // height: 200px;
  margin-top: 20px;
  // background: #eeeeee;
  flex-direction: column;
  p{
    font-family: GothamProMedium;
    color: #616161;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  button{
    margin-bottom: 20px;
  }
}

button{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // text-transform: uppercase;
  height: 50px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(135, 137, 139, 0.384);
  span{
      color: $red;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.7px;
  }
  &:hover {
      animation: rotate 0.7s ease-in-out both;
      span{
          animation: storm 0.7s ease-in-out both;
          animation-delay: 0.06s;
      }
  }
}

@keyframes rotate{
    0%
        {transform: rotate(0deg) translate3d(0, 0, 0)}
    25%
        {transform: rotate(3deg) translate3d(0, 0, 0)}
    50%
        {transform: rotate(-3deg) translate3d(0, 0, 0)}
    75%
        {transform: rotate(1deg) translate3d(0, 0, 0)}
    100%
        {transform: rotate(0deg) translate3d(0, 0, 0)}
}
@keyframes storm{
    0%
        {transform: translate3d( 0, 0, 0) translateZ(0)}
    25%
        {transform: translate3d( 4px, 0, 0) translateZ(0)}
    50%
        {transform: translate3d( -3px, 0, 0) translateZ(0)}
    75%
        {transform: translate3d( 2px, 0, 0) translateZ(0)}
    100%
        {transform: translate3d( 0, 0, 0) translateZ(0)}
}





.block-application__value{
  width: calc(50% - 20px);
  max-width: 700px;
  // height: 200px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  // background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.17);

  input{
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // text-transform: uppercase;
    height: 50px;
    width: 210px;
    margin-top: auto;
    margin-bottom: 30px;
    background: $red;
    color: #ffffff;
    font-size: 18px;
    // margin-bottom: 30px;
  }
}
.block-application__value-wraper{
  width: calc(100% - 40px);
  max-width: 700px;
  // height: 200px;
  margin-top: 30px;
  flex-direction: column;
  // background: #ffffff;
  p{
    font-family: GothamProMedium;
    font-size: 16px;
    margin-bottom: 20px;
  }
  span{
  font-family: GothamProRegular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
  }
}
.block-application__value-disclamer{
  width: calc(100% - 40px);
  // margin-top: auto;
  margin-bottom: 30px;
  p{
    font-size: 14px;
    color: #616161;
  }
}

.block-application__value-cost,
.block-application__value-name,
.block-application__value-products,
.block-application__value-employees,
.block-application__value-pay
{
  color: $red;
  font-family: GothamProRegular;
  margin-bottom: 20px;
  justify-content: space-between;
}

.value-cost__value,
.value-name__value,
.value-products__value,
.value-employees__value,
.value-pay__value
{
  margin-left: 20px;
  word-wrap: break-word;
  text-align: end;
}

input.notactive{
  background: #e0e0e0;
}
// 
// 
// 
// 
// 
// 
// СВОЙСТВА ДЛЯ COFFEEBUY.HTML
// 
// 
// 
// 
// 
.block-main-coffeebuy{
  // background: #eeeeee;
  width: 100%;
  max-width: 1100px;
  // height: auto;
  // height: 600px;
  margin: 100px auto;
  padding: 30px 10px;
  flex-direction: column;
  // border: #cccccc solid 1px;
  border-radius: 10px;
  box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.27);
  h1 {
    font-family: GothamProMedium;
    margin-bottom: 30px;
  }
}

.block-main-coffeebuy__wraper-cal-list{
  width: 100%;
  justify-content: space-between;
}



.wraper-cal-list__calc-check{
  width: calc(30% - 10px);
  // min-height: 300px;
  // max-height: 600px;
  // max-width: 350px;
  // height: 200px;
  // margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.27);
  // background: #eeeeee;
  flex-direction: column;
  p{
    font-family: GothamProMedium;
    color: #616161;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  button{
    margin: 30px auto 30px;
  }
}

.calc-check__title{
  width: calc(100% - 40px);
  margin: 30px auto 20px;
}
.calc-check___list-add-drinks{
  width: calc(100% - 40px);
  margin: 0px auto 20px;
}
.calc-check___total-price{
  width: calc(100% - 40px);
  margin: 0px auto 20px;
  p{
    margin-right: 80px;
  }
}
.list-add-drinks__position{
  justify-content: space-around;
}






.wraper-cal-list__tabs{
  width: calc(70% - 10px);
  // max-width: 700px;
  // height: 200px;
  // margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.27);
  // background: #eeeeee;
  flex-direction: column;
  align-items: center;

  p{
    font-family: GothamProMedium;
    color: #616161;
    font-size: 16px;
    line-height: 1.6;
  }
  button{
    margin-bottom: 20px;
  }
}

.lists-drink__nav{
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nav__item.active{
  p{
    color: red;
  }
}

.lists-drink__content{
  width: 100%;
  // height: 400px;
  margin-bottom: 30px;
  border-radius: 10px;
  // box-shadow: 0 9px 56px 0 rgba(112, 116, 119, 0.27);
  justify-content: center;

}
.tab{
  display: none;
  width: calc(100% - 40px);
}
.tab.active{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tab-1{
  // background: #af42a6;
}
.tab-2{
  // background: #5f42af;
}
.tab-3{
  // background: #42a8af;
}
.tab-4{
  // background: #afa442;
}

.card-drink{
  width: calc(50% - 20px);
  margin-bottom: 20px;
  // border: #616161 solid 1px;
  flex-direction: column;
  align-items: flex-start;
  img{
    // width: 90%;
    // max-width: 306px;
    height: auto;
    // max-height: 300px;
    align-self: center;
  }
  p{
    display: inline;
    margin-left: 20px;
    font-family: GothamProRegular;
  }
  h2{
    font-size: 24px;
    margin-left: 20px;
  }
  button{
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    height: 50px;
    width: 180px;
    background-color: #d8ca4d;
    border: none;
    p{
      font-family: GothamProMedium;
      color: #ffffff;
      margin-left: 0px;
    }
  }
}

#coffeedrink-content>.card-drink,
#icecoffee-content>.card-drink,
#cocoa-content>.card-drink
{
  img{
    margin-top: 45px;
    margin-bottom: 25px;
  }
}
#coffeedrink-content{
  .card-drink:nth-child(2){
    img{
      height: 250px;
    }
  }
}


.card{
  flex-direction: column;
}
.add-drink{
  position: relative;
  margin-bottom: 25px;
  p{
    margin-bottom: 10px;
  }
  button{
    width: 30px;
    height: 20px;
    margin: 0 0;
  }
  button.dell{
    border: none;
    font-size: 20px;
    color: red;
  }
  .add-drink__sum{
  width: 100%;
  }
}
.sum__counter{
  width: 30%;
  justify-content: space-between;
  margin-right: 100px;
  // margin-bottom: 20px;
}

.add-drink__del{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.add-drink:hover{
  .add-drink__del{
    display: flex;
  }
}
