@font-face {
	font-family: "GothamProRegular";
	src: url("../fonts/GothamProRegular/GothamProRegular.eot");
	src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
	url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamProBold";
	src: url("../fonts/GothamProBold/GothamProBold.eot");
	src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
	url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "GothamProMedium";
	src: url("../fonts/GothamProMedium/GothamProMedium.eot");
	src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
	url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "GothamProLight";
	src: url("../fonts/GothamProLight/GothamProLight.eot");
	src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
	url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}



@font-face {
	font-family: "VremenaBold";
	src: url("../fonts/VremenaBold/VremenaBold.eot");
	src: url("../fonts/VremenaBold/VremenaBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaBold/VremenaBold.woff") format("woff"),
	url("../fonts/VremenaBold/VremenaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "VremenaBoldItalic";
	src: url("../fonts/VremenaBoldItalic/VremenaBoldItalic.eot");
	src: url("../fonts/VremenaBoldItalic/VremenaBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaBoldItalic/VremenaBoldItalic.woff") format("woff"),
	url("../fonts/VremenaBoldItalic/VremenaBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "VremenaBook";
	src: url("../fonts/VremenaBook/VremenaBook.eot");
	src: url("../fonts/VremenaBook/VremenaBook.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaBook/VremenaBook.woff") format("woff"),
	url("../fonts/VremenaBook/VremenaBook.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "VremenaBookItalic";
	src: url("../fonts/VremenaBookItalic/VremenaBookItalic.eot");
	src: url("../fonts/VremenaBookItalic/VremenaBookItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaBookItalic/VremenaBookItalic.woff") format("woff"),
	url("../fonts/VremenaBookItalic/VremenaBookItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "VremenaMedium";
	src: url("../fonts/VremenaMedium/VremenaMedium.eot");
	src: url("../fonts/VremenaMedium/VremenaMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaMedium/VremenaMedium.woff") format("woff"),
	url("../fonts/VremenaMedium/VremenaMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "VremenaMediumItalic";
	src: url("../fonts/VremenaMediumItalic/VremenaMediumItalic.eot");
	src: url("../fonts/VremenaMediumItalic/VremenaMediumItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaMediumItalic/VremenaMediumItalic.woff") format("woff"),
	url("../fonts/VremenaMediumItalic/VremenaMediumItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "VremenaRegular";
	src: url("../fonts/VremenaRegular/VremenaRegular.eot");
	src: url("../fonts/VremenaRegular/VremenaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaRegular/VremenaRegular.woff") format("woff"),
	url("../fonts/VremenaRegular/VremenaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "VremenaItalic";
	src: url("../fonts/VremenaItalic/VremenaItalic.eot");
	src: url("../fonts/VremenaItalic/VremenaItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/VremenaItalic/VremenaItalic.woff") format("woff"),
	url("../fonts/VremenaItalic/VremenaItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}